@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    color: #15163D;
}

header{
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: auto;

}

    header nav a{
        margin: 20px;
        text-decoration: none;
        font-weight: 400;
        color:#15163D;
        text-align: center;
    } 
 

main{
    width: 1440px;
    margin: auto;
    background: #FDFCFC;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* 
#header{
    width: 1440px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    background-color: #5A75FF;
    box-shadow:  #5A75FF;
}

#header nav a{
    margin: 20px;
    text-decoration: none;
    font-weight: 400;
    color: #15163D;
}
 */

    .section{
        width: 478px;
        margin: 100px 0;

        /* text-align: center; lleva en vista de movil */
    }

        .section p{
            margin: 42px 0 ;
        }
        .section h2, 
        h1{
            font-size: 3.5em;
            /* font-size: 2.5em; lleva en vista de movil*/
            text-transform: capitalize;
        }

            .section a{
                width: 200px;
                height: 3em;
                background: #04146C;
                color:white;
                border-radius: 8px;
                font-weight: 600;
                text-align: center;
                text-decoration: none;
                padding: 10px 25px;
            }

    .img{
        height: 393px;
        margin: 80px 0;
    }



#testimonios{
    width: 1193px; 
    background-color: #FDFCFC;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

    #testimonios h2,
    #testimonios h3{
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    #testimonios h3{
        font-weight: 300;
    }
    #testimonios h2{
        font-weight: 700;
        font-size: 3.5em;
        margin: 30px 0 45px 0;
    }

    #testimonios div{
        width: 355px;
        height: 334px;
        padding: 23px 33.5px;
        background-color: #EFF2FF;
        border-radius: 20px;
        text-align: center;
        
    }
    
    #testimonios div img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    
    #testimonios div h3{
        font-weight: 400;
        font-size: 18px;
        margin: 12px auto;
        }


footer{
    width: 1440px;
    height: 450px;
    margin: auto;
    background-color: #15163D;
    color: #FFFFFF;
}
